

#main {
	padding: 20px;
	margin-right: 250px;
}

.sidebar {
	padding-top: 60px ;
	height: 100%;
	width: 250px;
	top: 0;
	right: 0;
	position: absolute;
	color: white;
	background-color: grey;
}

.greyOut {
	background-color: red;
}


@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
}