#main {
	padding: 20px;
	margin-right: 250px;
}

.topper {
	padding: 10px;
	padding-bottom: 0px;
}

.block3 input{ /*Text input default*/

	width: 50px;
	height: 26px;
	background-color: #1c1e21;
	border: 2px solid lightgrey;
	border-radius: 4px;

}

.block3 input:focus{ /*Text input when clicked on*/
	border-color: #555;
}

.sidebar {
	margin-top: 60px;
	height: 65.7%;
	width: 250px;
	margin-bottom: 0;
	top: 0;
	right: 0;
	position: absolute;
	color: white;
	background-color: grey;
}

.block1 {
	position: relative;
	//background-color: pink;
	//opacity: 0.9;
	height: 130px;
	padding: 10px;
	padding-top: 0px;

	//border: 2px solid magenta;
}
 .block2 {
 	position: relative;
 	//background-color: orange;
 	//opacity: 0.9;
 	height: 30px;
 	padding: 10px;

 	background-color: #4f6384;
 }
 .block3 {
 	position: relative;
 	//background-color: blue;
 	//opacity: 0.9;
 	height: 230px;
 	padding: 10px;
 }
 .block4 {
 	position: relative;
 	//background-color: green;
 	//opacity: 0.9;
 	height: 30px;
 	padding: 10px;

 	background-color: #4f6384;

 }
 .block5 {
 	position: relative;
 	//background-color: yellow;
 	//opacity: 0.9;
 	height: 50px;
 	padding: 10px;
 }


.overlay {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	right:0;
	z-index: 20;

	
	background-color:black;
	opacity: 0.8;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
}