* {box-sizing:border-box;}
ul {list-style-type: none;}
body {font-family: Verdana,sans-serif;}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #4f6384;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
    display: block;
    padding: 20px;
    padding-left: 50px;
    padding-right:50px;
    //background:blue;


}

.month .next {
    float: right;
    padding-top: 10px;
    display: block;
    padding: 20px;
    padding-left: 50px;
    padding-right:50px;
    //background:blue;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    padding-left: 20px;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 20px 0;
    background: #eee;
    margin: 0;
    padding-left: 20px;
}

.days li {
    background: #3FBF41;
    opacity: 0.6;
    padding: 20px;
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: white;
    position: relative;
}
.days .today {
    opacity: 1;
}

.days .spacer {
    opacity: 0;
}


/*-------- Special users own unique bookings overlays --------*/


.days .arrUserOwnBooking::before{
    content: "";
    position: absolute; 
    bottom: 0; 
    left: 60%; 
    height:100%;
    width: 40%;
    background: #4f6384;
}

.days .depUserOwnBooking::before{
    content: "";
    position: absolute; 
    bottom: 0; 
    left: 0%; 
    height:100%;
    width: 40%;
    background: #4f6384;
}

.days .regUserOwnBooking{
    background: #4f6384 !important;
    opacity: 0.6;
}


/*-------- Unavailable date backgrounds (red) --------*/
.days .regUnavailable {
    background: #BF3F3F;
    opacity: 0.6;
}

.days .arrUnavailable {
    //background: #ff7200;
    background: linear-gradient(to right, #3FBF41 60%, #BF3F3F 60%);
    opacity: 0.6;
}

.days .depUnavailable {
    //background: #6b3000;
    background: linear-gradient(to right, #BF3F3F 40%, #3FBF41 40%);
    opacity: 0.6;
}

.days .duelUnavailable {
    //background: #ff00cb;
    background: linear-gradient(to right, #BF3F3F 40%, #3FBF41 40%, #3FBF41 60%, #BF3F3F 60%);
    opacity: 0.6;
}


/*-------- Selected (active) date border elements & pseudo elements (black) --------*/
/*Regular date selection setting*/
.days .regActive {
    opacity: 0.6;
    outline: 3px solid black;
}

/*Reg Arr date*/
.days .arrActive::after {
    content: "";
    position: absolute; 
    bottom: 0; 
    left: 60%; 
    height:100%;
    width: 40%;
    outline: 3px solid black;
}

/*Reg Dep date*/
.days .depActive::after {
    content: "";
    position: absolute; 
    bottom: 0; 
    left: 0%; 
    height:100%;
    width: 40%;
    outline: 3px solid black;
}

/*Arr date when on a booked Dep date*/
.days .arrActiveDepUnavailable::after {
    content: "";
    position: absolute; 
    bottom: 0; 
    left: 60%; 
    height:100%;
    width: 40%;
    outline: 3px solid black;
}

/*Dep date when on a booked Arr date*/
.days .depActiveArrUnavailable::after {
    content: "";
    position: absolute; 
    bottom: 0; 
    left: 0%; 
    height:100%;
    width: 40%;
    outline: 3px solid black;
}




/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}



.unselectable { /*All class names with 'unselectable' added to them will 
                  not allow text to be highlighted by the cursor*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}