.errorDisplayBar{
	position: absolute;
	left: 0;
	width: 100%;
	top: 70px;
	background-color: navy;
	z-index: 10000000;
}

.errorDisplayBar p {
	text-align: center;
	line-height: 0;
	color: white !important;
}

